<% if model.errors.any? %>
<div class="error-alert">
  <ul>
    <% model.errors.full_messages.each do |message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  </ul>

  <%# ðŸŒŸãƒ†ã‚¹ãƒˆðŸŒŸâ¬nicknameã ã‘ã‚¨ãƒ©ãƒ¼ã®å ´åˆã€nicknameã ã‘ã‚¨ãƒ©ãƒ¼ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸è¡¨ç¤ºãªã©è‰²ã€…%>
  <%# <% if model.errors.include?(:nickname) %>
       <%# <p style="color: red;"><%= model.errors.full_messages_for(:nickname).first %> 
  <%# <% end %>  

  <%# <ul>
    <%= model.errors.full_messages_for(:nickname)%>
  <%# </ul> %>


</div>
<% end %>